[submodule "Libraries/BuildTasks"]
	path = Libraries/BuildTasks
	url = git://github.com/stever/vs-build-task.git
[submodule "Libraries/ErlangTerms"]
	path = Libraries/ErlangTerms
	url = git://github.com/stever/erlangterms.git
