.DS_Store
*~
_ReSharper.*
*.resharper.user
*.csproj.user
*.suo
*.sln.cache
*.pyc
/Installer/Payload/minimerl
/Installer/Payload/mplayer
/Installer/Payload/playdar
/Installer/Payload/playdar_modules
/Installer/Payload/playdar_python_resolvers/build
/Installer/Payload/playdar_python_resolvers/dist
/Installer/Temp
/Installer/Utils/erlini/bin
/Installer/Utils/erlini/obj
/Installer/Utils/erlini/erlini.pdb
/Installer/Utils/erlini/erlini.vshost.exe
/Installer/Utils/erlini/erlini.vshost.exe.manifest
/Installer/windar-*.exe
/Installer/build_log.log
/src/Common/bin
/src/Common/obj
/src/ErlangTerms/bin
/src/ErlangTerms/obj
/src/PlaydarDaemon/bin
/src/PlaydarDaemon/obj
/src/PluginAPI/bin
/src/PluginAPI/obj
/src/Plugins/MP3tunes/bin
/src/Plugins/MP3tunes/obj
/src/Plugins/Napster/bin
/src/Plugins/Napster/obj
/src/Plugins/Player/bin
/src/Plugins/Player/obj
/src/Plugins/Scrobbler/bin
/src/Plugins/Scrobbler/obj
/src/TrayApp/bin
/src/TrayApp/obj
/src/TrayAppTest/bin
/src/TrayAppTest/obj