.DS_Store
*~
_ReSharper.*
*.resharper.user
*.ReSharper.user
*.csproj.user
*.suo
*.sln.cache
*.pyc
.vs/
packages/
/nsis/payload/minimerl
/nsis/payload/mplayer
/nsis/payload/playdar
/nsis/payload/playdar_modules
/nsis/payload/py2exe/build
/nsis/payload/py2exe/audiofarm_resolver.py
/nsis/payload/py2exe/dist
/nsis/payload/py2exe/echonest-resolver.py
/nsis/payload/py2exe/mp3tunes-resolver.py
/nsis/payload/py2exe/napster.py
/nsis/payload/py2exe/napster_resolver.py
/nsis/payload/py2exe/playdar_resolver.py
/nsis/payload/py2exe/pyechonest
/nsis/payload/py2exe/simplejson
/nsis/payload/spotify
/nsis/temp
/nsis/erlini/bin
/nsis/erlini/obj
/nsis/erlini/erlini.pdb
/nsis/erlini/erlini.vshost.exe
/nsis/erlini/erlini.vshost.exe.manifest
/nsis/windar-*.exe
/nsis/build_log.log
/src/Common/bin
/src/Common/obj
/src/ErlangTerms/bin
/src/ErlangTerms/obj
/src/PlaydarDaemon/bin
/src/PlaydarDaemon/obj
/src/PluginAPI/bin
/src/PluginAPI/obj
/src/Plugins/MP3tunes/bin
/src/Plugins/MP3tunes/obj
/src/Plugins/Napster/bin
/src/Plugins/Napster/obj
/src/Plugins/Player/bin
/src/Plugins/Player/obj
/src/Plugins/Scrobbler/bin
/src/Plugins/Scrobbler/obj
/src/Plugins/Spotify/bin
/src/Plugins/Spotify/obj
/src/TrayApp/bin
/src/TrayApp/obj
/test/TrayAppTest/bin
/test/TrayAppTest/obj
