[submodule "Libraries/BuildTasks"]
	path = Libraries/BuildTasks
	url = git://github.com/stever/vs-build-task.git
[submodule "Libraries/ErlangTerms"]
	path = Libraries/ErlangTerms
	url = git://github.com/stever/erlangterms.git
[submodule "Installer/Packages/Playdar"]
	path = Installer/Packages/Playdar
	url = git://github.com/stever/playdar-core.git
[submodule "Installer/Packages/Erlang"]
	path = Installer/Packages/Erlang
	url = git://github.com/erlang/otp.git
