.DS_Store
*~
_ReSharper.*
*.resharper.user
*.csproj.user
*.suo
*.sln.cache
BuildTasks/bin
BuildTasks/obj
Installer/Payload/libeay32.dll
Installer/Payload/minimerl
Installer/Payload/mplayer
Installer/Payload/playdar
Installer/Payload/playdar_modules
Installer/Payload/playdar_scripts
Installer/Payload/vcredist_x86.exe
Installer/Temp
Installer/Utils/erlini/bin
Installer/Utils/erlini/obj
Installer/windar-*.exe
Installer/build.log
bin
obj

